@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: background 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

path {
  transition: fill 0.5s;
}

h1, h2, h3, h4 {
  font-family: 'Lora', serif;
  font-weight: 600;
}