@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;600&family=Raleway:ital,wght@0,300;0,400;0,600;1,200;1,300;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: background 0.3s;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

path {
  transition: fill 0.5s;
}

h1, h2, h3, h4 {
  font-family: 'Maitree', serif;
  font-weight: 600;
}